.item {
    position: relative;
    width: 100%;
    color: rgb(16, 211, 103);
    background-color: rgb(231, 223, 221);
    border: solid 3px white;
    height: 70px;
}
.item .item-hijo-fucsia {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    color: aliceblue;
    padding: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(223, 15, 157);
}