/*Agregar el selector universal al css*/
:root { --footer-h: 64px; --gap-bottom: 16px; }

/* Si tu contenido está en body o en un wrapper principal */
body { 
  padding-bottom: calc(var(--footer-h) + var(--gap-bottom));
}

/* Bonus para iPhone con notch */
body { padding-bottom: calc(var(--footer-h) + var(--gap-bottom) + env(safe-area-inset-bottom)); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Ajustar margenes del contenedor*/
.container {
    margin-left: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    max-width: 600px;
    height: 300px;
    padding: 15px;
}
.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100vw;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}