.container {
    background-color: black;
    color: white;
    max-width: 600px;
    height: 300px;
    padding: 15px;
}
.item {
    width: 100%;
    color: aliceblue;
    background-color: rgb(29, 196, 196);
    border: solid 3px white;
    height: 70px;
}
.item .item-hijo {
    position: static;
    margin: auto;
    text-align: center;
    width: 20px;
    height: 20px;
    color: rgb(91, 160, 221);
    padding: 5px;
    background-color: brown;
}